body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 500px;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: green;
}


.bar1 {
  fill: blue;
}

.bar1:hover {
  fill: green;
}


.bar2 {
  fill: rebeccapurple;
}

.bar2:hover {
  fill: green;
}